<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_group.name %>
</p>

<%= link_to 'Edit', edit_service_group_path(@service_group) %> |
<%= link_to 'Back', service_groups_path %>
